<div class="col-lg-12 mt-3">
    <h5>{{page_tittle}}</h5>
    <ul class="list-group list-users">
        <li class="col list-group-item" *ngFor="let user of users">
            <!--
            <div class="avatar_mask_list float-left mr-3" *ngIf="user.image">
                <img src="{{url + 'avatar/' + user.image}}">
            </div>
            <div class="avatar_mask_list float-left mr-3" *ngIf="!user.image">
                <img src="../assets/img/imgprofile.jpg">
            </div>
            -->
            <h4 class="col">
                <a class="user-name" [routerLink]="['/panel/perfil', user._id]">{{user.name + ' ' + user.surname}}</a>
            </h4>
            <div class="row lista-user">
                <h5 class="col">
                    <a class="user-rol" [routerLink]="['/panel/perfil', user._id]">{{user.role}}</a>
                </h5>
                <button [routerLink]="['/panel/perfil', user._id]" class="boton-naranja float float-right col-3"><i class="bi bi-bag-fill"></i>Ver clientes</button>
            </div>
        </li>
    </ul>
</div>