<div class="col-lg-12">
    <div class="jumbotron jumbotron-fluid text-center mt-5">
        <div class="container">
            <h1 class="display-4">{{page_tittle}}</h1>
            <p class="lead">Esto es una muestra, mientras desarrollamos la aplicación</p>
            <p>
                <a class="btn btn-primary btn-lg mr-3" href="#">Ver clientes</a>
                <a class="btn btn-success btn-lg mr-3" href="#">Ver compañeros</a>
                <a class="btn btn-warning btn-lg mr-3" href="#">Añade un nuevo cliente</a>

            </p>
        </div>
    </div>
</div>