<div class="container">
    <!--Cabecera de la web-->
    <nav class="navbar navbar-expand-lg bg-light mt-4">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="['/inicio']">InForum</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/inicio']" routerLinkActive="router-link-active">Inicio</a>
                    </li>
                    <li class="nav-item" *ngIf="identity">
                        <a class="nav-link" href="#">Clientes</a>
                    </li>
                    <li class="nav-item" *ngIf="identity">
                        <a class="nav-link" href="#">Crear Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Compañeros</a>
                    </li>
                    <li lass="nav-item">
                        &nbsp;
                    </li>
                    <li class="nav-item">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="¿Qué estás buscando?" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                    </li>
                </ul>

                <ul class="navbar-nav navbar-right">
                    <li class="nav-item" *ngIf="!identity">
                        <a class="nav-link" [routerLink]="['/registro']">Registrate</a>
                    </li>
                    <li class="nav-item" *ngIf="!identity">
                        <a class="nav-link" [routerLink]="['/login']">Login</a>
                    </li>
                    <li class="nav-item dropdown" *ngIf="identity">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{identity.name + ' ' + identity.surname}}</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" [routerLink]="['/panel']">Panel de Usuarios</a></li>
                            <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
                            <li><a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item pointer" (click)="logOut()">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>