<div class="cuerpo-principal row">
    <aside class="barra-lateral col-12 col-sm-auto p-0">
        <div class="logo">
            <h2 class="py-4 m-0">Dashboard</h2>
        </div>
        <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
            <a class="active" aria-current="page" [routerLink]="['inicio']">
                <i class="bi bi-house-door-fill"></i>Inicio
            </a>
            <a class="active" aria-current="page" [routerLink]="['todoslosclientes']">
                <i class="bi bi-briefcase-fill"></i>Todos los Clientes
            </a>
            <a class="active" aria-current="page" [routerLink]="['perfildeclientes']">
                <i class="bi bi-person-circle"></i> Perfiles de Clientes
            </a>
            <a class="active" aria-current="page" [routerLink]="['registrodeusuario']">
                <i class="bi bi-person-fill"></i> Registrar Usuario
            </a>
            <a class="active" aria-current="page" [routerLink]="['listado']">
                <i class="bi bi-bag-fill"></i> Mis Clientes
            </a>
            <a class="active" aria-current="page" [routerLink]="['crear']">
                <i class="bi bi-person-plus-fill"></i>Agregar Cliente
            </a>
            <a class="active" aria-current="page" [routerLink]="['/panel/usuarios']">
                <i class="bi bi-people-fill"></i> Usuarios
            </a>
            <a class="active" aria-current="page" [routerLink]="['/ajustes']">
                <i class="bi bi-gear-fill"></i> Ajustes
            </a>
            <a class="active" aria-current="page" [routerLink]="['/panel/usuarios']" (click)="logOut()">
                <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
            </a>
        </nav>
    </aside>

    <main class="main col">
        <div class="row">
            <!--
            <div class="col">
                <ul class="navbar-nav navbar-right col-12 col-sm-3">

                    <li class="nav-item dropdown" *ngIf="identity">
                        <a class="link-menu dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{identity.name + ' ' + identity.surname}}</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" [routerLink]="['/panel']">Panel de Usuarios</a></li>
                            <li><a class="dropdown-item" [routerLink]="['/perfil', identity._id]">Mi Perfil</a></li>
                            <li><a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item pointer" (click)="logOut()">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>-->
            <div class="col-12 mb-2 search">
                <form class="d-flex" role="search" #searchForm="ngForm">
                    <input class="form-control me-2" type="search" placeholder="¿Qué estás buscando?" aria-label="Search" name="busqueda" #busqueda="ngModel" [(ngModel)]="search">
                    <button class="boton-azul" type="submit" (click)="goSearch()"><i class="bi bi-search"></i>Buscar
                </button>
                </form>
            </div>
        </div>
        <div class="col-12 col-lg-12">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>